node_modules
.vscode
*.pyc
backend/LetMEGo/db.sqlite3
backend/LetMEGo/LetMEGo/settings.py
.gitignore
backend/LetMEGo/app/build/index.html
frondend/frontend/README.md
frondend/frontend/yarn.lock
frondend/frontend/public/favicon.ico
frondend/frontend/public/index.html
frondend/frontend/public/logo192.png
frondend/frontend/public/logo512.png
frondend/frontend/public/manifest.json
frondend/frontend/public/robots.txt
Crawling/helper_connect.py
