
.companyStyle {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 6px;
    padding-left: 6px;
    
}

.titleStyle {
    font-style: sans-serif;
    /* text-decoration-line: underline; 
    font-size: 14px;
    line-height: 32px; */
    margin-bottom: 10px;
    padding-left: 6px;
    font-weight: bold;
    /* margin-top: 20px;  */
}

.contentStyle {
    font-style: sans-serif;
    font-size: 11px;
    /* line-height: 32px; */
    margin-bottom: 20px;
    padding-left: 6px;
    /* margin-top: 30px; */
}

.dateStyle {
    font-size: 9px;
    padding-left: 3px;
    font-style: sans-serif;
}

.p {
    line-height: 1.6;
}


.scrol {
    overflow-y: scroll;
    height: 500px;
    width: 500px;
    
  }

.tableProm {
    width: 10%;
}

.maxRate {
    width: 15%;
}


.baseDate {
    width: 9%;
}


.currency {

    margin-bottom: 10px;
    
    font-weight: bold;

}


.nationList {
    height: 50%;
    width: 50%;
}


.button button {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;   
}


.aud {
    padding-left: 20px;
}



@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.bounce_button {  
   
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}